<footer>
    <ul class="social-links | text-center">
        <li class="linked-in">
            <a href="https://www.linkedin.com/company/witmerhealth">
                <img src="https://s3.ap-southeast-1.wasabisys.com/wt-user-documents-dev/TEMPLATE/EMAIL/Images/LinkedIN-2.png" alt="LinkedIn">
            </a>
        </li>
        
        <li class="twitter">
            <a href="https://twitter.com/WitmerHealth">
                <img src="https://s3.ap-southeast-1.wasabisys.com/wt-user-documents-dev/TEMPLATE/EMAIL/Images/twitter-2.png" alt="Twitter">
            </a>
        </li>
    </ul>

    <p class="greetings | text-center">
        <span>This email is sent to you by mind-n</span> 
        <span>Witmer Health Technologies<span> 
        <span>B-4, Green Court, Vidyaranyapura, Bangalore 560 097</span> 
        <span>Visit: witmer.ai</span>
    </p> 
    
    <ul class="other-links | text-center">
        <li><a href="<%=manage_email_preferences%>">Manage email preferences</a></li>
        <li><a href="<%=privacy_policy_url%>">Privacy Policy</a></li>
        <li><a href="<%=faq_url%>">FAQs</a></li>
    </ul>
    
    <p class="copyrights | text-center">
        mind-n is a registered trademark of Witmer Health Technologies <br>
        Copyright © 2023 Witmer Health Technologies. All rights reserved
    </p>
</footer>