<header>
    <div class="logo | text-center">
        <img src="https://s3.ap-southeast-1.wasabisys.com/wt-user-documents-dev/TEMPLATE/EMAIL/Images/Logo.png" alt="logo" />
    </div>
    
    <div class="notification-title">
        <h2 class="subject | text-center"><%=subject%></h2>
    </div>
</header>