/* 
================
Global Variables
================
*/
:root {
    --bg-light: #f3f2f0;
    --clr-muted: #939393;
    --clr-primary: #12284c;
    --white: #fff;
}

/* 
=====
Reset
=====
*/
*, 
:after, 
:before {
    box-sizing: border-box;
    font-family: "Tahoma", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-light);
    padding: 1.5rem 1rem 1rem;
}

h2 {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

/* 
==============
Global Classes
==============
*/
.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

/* 
=============
Custom Styles
=============
*/
.layout {
    background-color: var(--white);
    margin: 0 auto;
    max-width: 600px;
}

/* Header */
.logo {
    padding: 1rem;
}

.logo img {
    width: 100px;
}

.notification-title {
    background-color: var(--clr-primary);
    color: var(--white);
    padding: 2.75rem 1rem;
}

/* Main */
main {
    margin: 0 1.5rem;
}

.banner img{
    width: 100%;
}

.mail-content {
    border-bottom: 1px solid lightgray;
    margin: 0 1.5rem;
    padding: 1rem;
}

.mail-content p {
    margin-top: 1.5rem;
}

.mail-content .query {
    margin-bottom: 1.5rem;
}

.mail-content .query span {
    color: var(--clr-primary);
    display: block;
}

.mail-content p.query.nth-child-1~ul li {
    display: block;
}

.mail-content p.query.nth-child-1~ul li + li {
    margin-top: .25rem;
}

.mail-content p.query.nth-child-2~ul {
    padding-left: 40px;
}

.mail-content p.query.nth-child-2~ul li {
    display: list-item;
    list-style-type: disc;
    margin-bottom: .5rem;
}

.mail-content p.query.nth-child-3 span {
    margin-bottom: 1.5rem;
}

/* Footer */
footer {
    margin: 0 1rem;
    padding: 4rem 1rem 3rem;
}

.social-links li {
    margin: 15px 5px;
}

.social-links li img {
    width: 2.5rem;
}

.greetings span {
    display: block;
}

.greetings span:not(:nth-child(2)), .copyrights {
    color: var(--clr-muted);
}

.other-links {
    margin: 1rem 0;
}

.other-links li + li::before {
    content: '| ';
    color: var(--clr-muted);
}

.other-links li a {
    color: var(--clr-muted);
    text-decoration: none;
}